body {
    font-family: 'Open Sans', sans-serif;
  }

footer {
    margin: 5px;
    background-color: #0068A5;
    padding: 5px;
    text-align: center;
    font-size: 18px;
    color: #9BD2F0;
  }

  .container-2 {
    display: flex;
    flex-direction: row;
    height: 81vh;
  }
  .right {
    height: 791px;
    overflow: scroll;
    overflow-x: hidden;
    padding: 10px;
    width: 90%;
    justify-content: center;
    align-items: center;
    
  }
  
  .left {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 80px;
  }
  .img-left {
    height: 87vh;
}